@keyframes shine {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: -200%;
  }
}

.shinyText {
  background-image: linear-gradient(
    120deg,
    var(--primary, #0077CC) 30%, /* translucent off-white */
    rgba(255, 255, 255, 1) 50%,  /* vibrant light blue from your palette */
    var(--primary, #0077CC) 70%  /* translucent off-white */
  );
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animateShine {
  animation: shine 5s linear infinite;
}
